<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Spring Security Example</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/src/main/resources/css/style_addUser.css">
</head>
    <body>
        <div class = "header">

            <!-- Top information   -->

            <div class="status_role">
                <div class="container_fluid">
                    <span class = "text_email">
                        @mail
                    </span>
                    <span class = "text_role">
                        USER
                    </span>
                    <span class ="text_role">
                        ADMIN
                    </span>
                </div>
                <div class = "logout">
                    <a href="">Logout</a>
                </div>
            </div>

            <!-- Action button Admin and User  -->
            <div class = "container_role_panel">
                <div class = "main_content_role">
                    <div class="sidebar">
                        <button class = "btn btn-outline-primary active">
                            ADMIN
                        </button>
                        <button class = "btn btn-outline-primary">
                            USER
                        </button>
                    </div>
                </div>

                <div class = "container_panel_admin">
                    <div class = "text_role">
                        <h1>Admin panel</h1>
                    </div>
                    <!-- Action button   -->
                    <div class ="container_btn_action">
                        <button id = "container_btn_action_UserTable">Users table</button>
                        <button id = "container_btn_action_NewUser">New User</button>
                    </div>
                    <hr>
                    <div class = "text_table">
                        <h2>All users</h2>
                    </div>
                    <div class = "table_all_users">
                        <table class = "table_all__users">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">FirstName</th>
                                    <th scope="col">LastName</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <hr>
                            <tbody th:each="user : ${allUsers}">
                                <td th:text="${user.id}">1</td>
                                <td th:text="${user.firstName}">Daniil</td>
                                <td th:text="${user.lastName}">Ribyakov</td>
                                <td th:text="${user.age}">25</td>
                                <td th:text="$user.email">daniil@mail.ru</td>
                                <td th:text="$user.role">Admin</td>
                                <td>
                                    <button id = "btn_edit" type="button" class="btn btn-info">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button id = "btn_delete" type="button" class="btn btn-danger">
                                        Delete
                                    </button>
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>

            <!--Action add new user-->
                <div class="container_add_new_user">
                    <div class="container_text_add_user">
                        <h2>Add new user</h2>
                    </div>
                    <div class="container_form_new_user">
                        <div class = "first_name_new_user">
                            <p>First name</p>
                            <input type="text">
                        </div>
                        <div class = "last_name_new_user">
                            <p>Last name</p>
                            <input type="text">
                        </div>
                        <div class = "age_new_user">
                            <p>Age</p>
                            <input type="text">
                        </div>
                        <div class = "email_new_user">
                            <p>Email</p>
                            <input type="text">
                        </div>
                        <div class = "password_new_user">
                            <p>Password</p>
                            <input type="text">
                        </div>
                        <div class="role_new_user">
                            <button class="dropdown-item active">ADMIN</button>
                            <button class="dropdown-item">USER</button>
                        </div>
                        <div class = "container_add_new_user_btn">
                            <button id = "btn_add_new_user" class="btn btn-success">
                                Add new user
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Edit User -->
                <div class ="container_edit_user">
                    <div class="txt_edit_user">
                        <h2>Edit user</h2>
                    </div>
                    <div class="contant_edit_user">
                        <div class ="id_edit_user">
                            <p>ID</p>
                            <input type="text" name="" id="">
                        </div>
                        <div class="first_name_edit_user">
                            <p>First name</p>
                            <input type="text">
                        </div>
                        <div class = "last_name_edit_user">
                            <p>Last name</p>
                            <input type="text">
                        </div>
                        <div class="age_edit_user">
                            <p>Age</p>
                            <input type="text">
                        </div>
                        <div class="email_edit_user">
                            <p>Email</p>
                            <input type="text">
                        </div>
                        <div class="password_edit_user">
                            <p>Password</p>
                            <input type="text">
                        </div>
                        <div class="button_edit_user">
                            <button class="dropdown-item active">ADMIN</button>
                            <button class="dropdown-item">USER</button>
                        </div>
                    </div>
                </div>

                <!-- Edit Form -->
                <div class = "edit_user_form">
                    <div class = "container_edit_user_form">
                        <div class="top_container_edit_form">
                            <div class="text_form">
                                <p>Edit user</p>
                            </div>
                            <div class="close_btn_edit_user">
                                <button>x</button>
                            </div>
                        </div>

                        <div class = "form_input_user">
                            <div class ="id_edit_user">
                                <p>ID</p>
                                <input type="text" name="" id="">
                            </div>
                            <div class="first_name_edit_user">
                                <p>First name</p>
                                <input type="text">
                            </div>
                            <div class = "last_name_edit_user">
                                <p>Last name</p>
                                <input type="text">
                            </div>
                            <div class="age_edit_user">
                                <p>Age</p>
                                <input type="text">
                                </div>
                            <div class="email_edit_user">
                                <p>Email</p>
                                <input type="text">
                            </div>
                            <div class="password_edit_user">
                                <p>Password</p>
                                <input type="text">
                            </div>
                            <div class="button_edit_user">
                                <button class="dropdown-item active">ADMIN</button>
                                <button class="dropdown-item">USER</button>
                            </div>
                        </div>
                    </div>
                </div>


                    <!-- Edit Form -->
                <div class = "delete_form_user">
                    <div class = "container_delete_user_form">
                        <div class="top_container_delete_form">
                            <div class="text_form">
                                <p>Edit user</p>
                            </div>
                            <div class="close_btn_delete_user">
                                <button>x</button>
                            </div>
                        </div>

                        <div class = "form_input_user">
                            <div class ="id_delete_user">
                                <p>ID</p>
                                <input type="text" name="" id="">
                            </div>
                            <div class="first_name_delete_user">
                                <p>First name</p>
                                <input type="text">
                            </div>
                            <div class = "last_name_delete_user">
                                <p>Last name</p>
                                <input type="text">
                            </div>
                            <div class="age_delete_user">
                                <p>Age</p>
                                <input type="text">
                                </div>
                            <div class="email_delete_user">
                                <p>Email</p>
                                <input type="text">
                            </div>
                            <div class="password_delete_user">
                                <p>Password</p>
                                <input type="text">
                            </div>
                            <div class="button_delete_user">
                                <button class="btn btn-secondary">Close</button>
                                <button class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
